*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  text-align: center;
  padding-top: 4em;
}
section{
  background-color: #fff;
 padding: 7em;
}
form{
  padding-top: 1em;
  gap: 1em;
}
input[type="text"]{
  outline: none;
  border: 1px solid #ddd;
  padding: 0.5rem 2em;
  border-radius: 5px;
}
button{
  background-color: #ddd;
  padding: 0.3rem 1em;
  font-size: 16px;
  border-radius: 5px;
}
.reload{
  padding-top: 1em;
}
@media(max-width: 430px){
  section{
    background-color: #fff;
    padding: 3em;
  }
}